

body{
    background-image: url(richas\ x\ bobby.jpg);

}

h2{
    background-color: white;
    color: blue;
    font-size: larger;
}
h1{
    color: rgb(228, 86, 86);
}
h4{
    font-family: cursive;

}